# Author: Tinashe K

# DOT Database Tools web app
APP_NAME="DOT Database Tools"
DATABASEMENT_PORT=2226

# MySQL system database used by DOT Database Tools
DATABASEMENT_MYSQL_PORT=3307
DATABASEMENT_MYSQL_DATABASE=databasetools
DATABASEMENT_MYSQL_USER=databasement_user
DATABASEMENT_MYSQL_PASSWORD=databasement_password
DATABASEMENT_MYSQL_ROOT_PASSWORD=root-password
